.callout {
	width: 1000px;
    margin: 50px;
    border: 20px;
    padding: 30px;
    background-color: blueviolet;
    color: palevioletred;
}

.callout img {
	float: left;
    margin: 0 0 10px 15px;
    border: 7px;
    padding: 6px;
    background-color: antiquewhite;
    width: 200px;
    height: auto;
}

blockquote {
	margin: 2px;
}

cite {
	display: block;
    border-top: 20px;
    padding-top: 15px;
    text-align: right;
    font: bold;
    size: 10px;
}